APP_ENV=development
SERVER_PORT=8000
SERVER_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost:5173,http://127.0.0.1:5173,http://localhost:5174,http://127.0.0.1:5174,http://localhost:5175,http://127.0.0.1:5175

ROUTES_USER_PLATFORM_HTTP=http://user-http:8081
ROUTES_USER_PLATFORM_GRPC=user-grpc:9091
ROUTES_GO_NOTE=http://go-note:8080
ROUTES_GO_NOTE_GRPC=go-note-grpc:9093
ROUTES_GO_CHAT=http://go-chat:8084

JWT_SECRET=replace_with_a_secure_secret

REDIS_ADDR=global-redis:6379
REDIS_PASSWORD=123456
REDIS_DB=0

OTEL_JAEGER_ENDPOINT=global-jaeger:4318
OTEL_SERVICE_NAME=api-gateway

CLIENT_SSO_LOGIN_URL=http://localhost:5173/auth/login
CLIENT_GO_NOTE_URL=http://localhost:5174
CLIENT_GO_CHAT_URL=http://localhost:5175

SSO_COOKIE_NAME=up_sso
SSO_COOKIE_DOMAIN=
SSO_COOKIE_PATH=/
SSO_COOKIE_MAX_AGE=2592000
SSO_COOKIE_SECURE=false
SSO_COOKIE_HTTP_ONLY=true
SSO_COOKIE_SAME_SITE=Lax
